<header class="navigation navigation_global">
  <ul class="navigation-list">
    <li class="navigation-list__item navigation-list__item_inline">
      <a data-track="type:navigation;label:about" data-scroll class="link link_primary" href="#about">About</a></li>
    <li class="navigation-list__item navigation-list__item_inline">
      <a data-track="type:navigation;label:projects" data-scroll class="link link_primary" href="#projects">Projects</a></li>
    <li class="navigation-list__item navigation-list__item_inline">
      <a data-track="type:navigation;label:contact" data-scroll class="link link_primary" href="#contact">Contact</a></li>
  </ul>
</header>
