<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta name="Author" content="Dylan Foster">
<meta name="robots" content="index, follow">
<meta name="description" content="{{seo.og.description}}">
<meta property="og:title" content="{{seo.og.title}}">
<meta property="og:type" content="{{seo.og.type}}">
<meta property="og:url" content="{{seo.og.url}}">
<meta property="og:description" content="{{seo.og.description}}">
<meta property="twitter:card" content="{{seo.twitter.card}}">
<meta property="twitter:site" content="{{seo.twitter.site}}">
<meta property="twitter:creator" content="{{seo.twitter.creator}}">
<meta property="twitter:description" content="{{seo.twitter.description}}">
<title>{{title}}</title>
<link rel="stylesheet" href="/assets/stylesheets/app.css" />
