@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100);
@import "_mixins";

$font-family: "lato", Helvetica;

* {
  box-sizing: border-box;
  transition: .2s;
  font-weight: 400;
}

html {
  font-family: $font-family;
  line-height: 1.5;
  color: #DADADA;
}

body {
  margin: 0;
  background-color: #030C1C
}

ul {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  &:focus {
    outline: none; }
}

button {
  &:focus, &:active {
    outline: none;
  }
}

.heading {
  @include modifier("main") {
    font-size: 3.125rem;
    font-weight: lighter;
  }
  @include modifier("section") {
    opacity: 0;
    visibility: hidden;
  }
}

.link {
  text-decoration: none;
  @include modifier("primary") {
    color: #DADADA;
  }
}

.navigation {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include element("item") {
    @include modifier("inline") {
      display: inline-block;
      transition: border-bottom .2s ease;
      padding-bottom: 8px;
      .link {
        display: block;
        height: 100%;
        width: 100%;
        padding: 8px 20px;
      }
      &.active, &:hover {
        border-bottom: 3px solid #DADADA;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.page {
  transform: translateY(-243px);
  margin: 0 auto;
  max-width: 1425px;
  &.not-found {
    transform: translateY(0);
    margin-top: 100px;
    text-align: center;
    padding-bottom: 50%;
    background-image: url(/assets/images/ahahah.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
  }
}

.hero {
  background-image: url("/assets/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50%;
}

.tagline {
  margin: auto 5px;
  transform: translateY(100%);
  text-align: center;
}

.section {
  padding-top: 200px;
  position: relative;
  @include modifier("about") {
    @include element("content") {
      padding: 45px 40px;
      border-bottom: 1px solid #DADADA;
    }
  }
  @include element("content") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    // min-width: 375px;
    margin: 0 auto;
  }
  @include modifier("projects") {
    @include element("content") {
      width: 90%;
    }
  }
  @include modifier("contact") {
    margin-bottom: 0;
    @include element("content") {
      position: relative;
      z-index: 5;
      background-color: rgba(177, 177, 191, 0.6);
      color: #000;
      padding: 10px;
      border-radius: 3px;
    }
  }
}

.profile-image {
  background-image: url("/assets/images/me.jpg");
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 1px solid #DADADA;
}

.quote {
  font-style: italic;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: .8rem;
  text-align: center;
  @include element("item") {
    width: 300px;
    height: 200px;
    margin: 50px 8px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.5, 0, 0.1, 1) .2s;
    @include element("description") {
      height: 100%;
      width: 100%;
      padding: 8px;
      opacity: 0;
      visibility: hidden;
    }
    @include element("tags") {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    &:hover {
      transform: scale(1.5);
      & .projects-list__item__description {
        background-color: rgba(3, 12, 28, 0.8);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.touch .projects-list {
  @include element("item") {
    @include element("description") {
      background-color: rgba(3, 12, 28, 0.8);
      opacity: 1;
      visibility: visible;
    }
  }
}

.project-tag {
  background-color: #6D401F;
  border-radius: 3px;
  padding: 3px 8px;
  margin: 5px;
}

.form {
  width: 100%;
  @include element("section") {
    @include modifier("actions") {
      display: flex;
      justify-content: flex-end;
    }
  }
  @include element("group") {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    @include modifier("submit") {
      width: 50%;
      margin: 0;
    }
    @include modifier("social") {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      transition: all .2s ease .2s;
      .fa {
        margin: 0 8px;
        font-size: 1.5rem;
        color: #6D401F;
      }
      .link:hover {
        transform: scale(1.5);
      }
    }
  }
  @include element("input") {
    width: 100%;
    padding: 15px 8px;
    font-size: 1.1rem;
    border-radius: 3px;
    &:focus, &:active {
      opacity: 0.8;
      color: #000;
    }
  }

}

.button {
  border: none;
  border-radius: 3px;
  padding: 15px 8px;
  font-size: 1.1rem;
  cursor: pointer;
  @include modifier("primary") {
    background-color: #6D401F;
    color: #DADADA;
    &:hover {
      opacity: .8;
    }
  }
}

.map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3;
}

@media only screen and (max-width: 720px) {
  .projects-list {
    justify-content: center;
  }
}

@media only screen and (max-width: 470px) {
  .tagline {
    transform: translateY(35%);
  }
}

@media only screen and (max-width: 420px) {
  .section {
    @include element("content") {
      width: 95%;
    }
  }
}
