@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100);
@import "_mixins";

$font-family: "lato", Helvetica;

* {
  box-sizing: border-box;
  transition: .2s;
  font-weight: 400;
}

html {
  font-family: $font-family;
  line-height: 1.5;
}

body {
  margin: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-thin {
  font-weight: 100;
}

.text-xl {
  font-size: 3rem;
}

.text-l {
  font-size: 2.5rem;
}

.text-m {
  font-size: 1.125rem;
}

.text-s {
  font-size: 1rem;;
}

.container {
  margin: 30px;
  padding: 30px;
}

.header {
  @extend .text-thin;
  @include modifier("title") {
    @extend .text-m;
  }
  &_main {
    @extend .text-xl
  }
  &_section {
    @extend .text-l;
  }
  &_sub {
    font-weight: 400;
    @extend .text-m;
  }
}

.page{
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  &.section {
    margin-top: 100px;
  }
  &.landing {
    min-height: 768px;
    background-color: #000;
  }
  &.logo {
    margin: 30px 0;
    & img {
      display: block;
      margin: 0 auto;
    }
  }
  &.heading {
    padding: 50px;
    max-width: 960px;
    margin: 0 auto;
  }
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.image_responsive {
  display: block;
  width: 100%;
  height: auto;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.landing {
  position: relative;
  & .moon {
    background-image: url("/assets/images/moon.png");
    position: absolute;
    top: 0;
    z-index: 2;
//    animation: moon 50s linear infinite;
    background-size: 35%;
    width: 100%;
    height: 100%;
    background-position: 30%;
    background-repeat: no-repeat;
  }
  & .cloud {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 1;
    &_1 {
      background-image: url("/assets/images/cloud1.png");
      background-position: -800px 0;
//      animation: cloud_1 60s linear infinite;
    }
    &_2 {
      background-image: url("/assets/images/cloud2.png");
      background-position: -600px 45%;
//      animation: cloud_2 45s linear infinite;
      z-index: 1;
    }
    &_3 {
      background-image: url("/assets/images/cloud3.png");
      background-position: -400px 85%;
//      animation: cloud_3 51s linear infinite;
      z-index: 4;
    }
    &_4 {
      background-image: url("/assets/images/cloud1.png");
      background-position: -300px 58%;
//      animation: cloud_4 32s linear infinite;
      z-index: 2;
    }
    &_5 {
      background-image: url("/assets/images/cloud3.png");
      background-position: 600px 33%;
//      animation: cloud_5 63s linear infinite;
      z-index: 1;
    }
  }
}

@keyframes moon {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@keyframes cloud_1 {
  0% {
    background-position: -500px 0;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  100% {
    background-position: 300% 0;
    opacity: 0;
  }
}

@keyframes cloud_2 {
  from {
    background-position: -400px 45%;
  }

  to {
    background-position: 300% 45%;
  }
}
@keyframes cloud_3 {
  0% {
    background-position: -300px 85%;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    background-position: 300% 85%;
    opacity: 0;
  }
}

@keyframes cloud_4 {
  from {
    background-position: -400px 55%;
  }

  to {
    background-position: 300% 55%;
  }
}

@keyframes cloud_5 {
  from {
    background-position: -600px 33%;
  }

  to {
    background-position: 300px 33%;
  }
}

.tile {
  border-right: 1px solid #d6d6d6;
  background-position: 50%;
  background-repeat: no-repeat;
  min-height: 300px;
  &.apple {
    background-image: url("/assets/images/apple.png");
    background-size: cover;
    border-left: 1px solid #d6d6d6;
  }
  &.google {
    background-image: url("/assets/images/google.png");
    background-size: 40%;
  }
  &.twitter {
    background-image: url("/assets/images/twitter.png");
    background-size: 40%;
  }
  &.bonfire {
    border-left: 1px solid #d6d6d6;
  }
  &.hotcakes {
    background-image: url("/assets/images/hotcakes.png");
    background-size: 40%;
  }
  &.topsecret {
    background-image: url("/assets/images/ban.png");
    background-size: 70%;
    background-position: 50%;
    border-right: 1px solid #d6d6d6;
  }
}

.sub-header {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 12px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.8);
  display: none;
  @include element("container") {
    position: absolute;
    height: 500px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    background-color: #fff;
    border-radius: 3px;
    display: none;
  }
  @include element("title") {
    border-bottom: 1px solid #d6d6d6;
    padding: 0 20px;
    text-align: center;
  }
}
