@import "font-awesome";
@import url(https://fonts.googleapis.com/css?family=Lato:400,100);
@import "_mixins";

$font-family: "lato", Helvetica;

* {
  box-sizing: border-box;
  transition: .2s;
  font-weight: 400;
}

html {
  font-family: $font-family;
  line-height: 1.5;
  color: #DADADA;
}

body {
  margin: 0;
  background-color: #030C1C
}

ul {
  margin: 0;
  padding: 0;
}

.heading {
  @include modifier("main") {
    font-size: 3.125rem;
    font-weight: lighter;
  }
}

.link {
  text-decoration: none;
  @include modifier("primary") {
    color: #DADADA;
  }
}

.navigation {
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 2;
}

.navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include element("item") {
    @include modifier("inline") {
      display: inline-block;
      transition: border-bottom .2s ease;
      padding-bottom: 8px;
      .link {
        display: block;
        height: 100%;
        width: 100%;
        padding: 8px 20px;
      }
      &.active, &:hover {
        border-bottom: 3px solid #DADADA;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.page {
  transform: translateY(-243px);
}

.hero {
  background-image: url("/assets/images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 50%;
}

.tagline {
  margin: auto 5px;
  transform: translateY(100%);
  text-align: center;
}

.section {
  padding-top: 200px;
  @include modifier("about") {
    @include element("content") {
      padding: 45px 40px;
      border-bottom: 1px solid #DADADA;
    }
  }
  @include element("content") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
  }
  @include modifier("projects") {
    @include element("content") {
      width: 80%;
    }
  }
}

.profile-image {
  background-image: url("/assets/images/me.jpg");
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 1px solid #DADADA;
}

.quote {
  font-style: italic;
}

.projects-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all .2s cubic-bezier(0.5, 0, 0.1, 1);
  @include element("item") {
    width: 300px;
    height: 200px;
    margin: 8px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 50%;
    cursor: pointer;
    @include element("description") {
      height: 100%;
      width: 100%;
      padding: 8px;
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      transform: scale(1.5);
      transition-delay: .2s;
      & .projects-list__item__description {
        background-color: rgba(51, 51, 51, 0.8);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
